<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ph.edu.dlsu.mobdeve.naval.gabrielle.stardewvalleyguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StardewValleyGuide">
        <activity
            android:name=".WinterFishListActivity"
            android:exported="false" />
        <activity
            android:name=".WinterFestivalListActivity"
            android:exported="false" />
        <activity
            android:name=".SummerFishListActivity"
            android:exported="false" />
        <activity
            android:name=".SummerFestivalListActivity"
            android:exported="false" />
        <activity
            android:name=".SpringFishListActivity"
            android:exported="false" />
        <activity
            android:name=".SpringFestivalListActivity"
            android:exported="false" />
        <activity
            android:name=".FishActivity"
            android:exported="false" />
        <activity
            android:name=".FestivalActivity"
            android:exported="false" />
        <activity
            android:name=".FallFishListActivity"
            android:exported="false" />
        <activity
            android:name=".FallFestivalListActivity"
            android:exported="false" />
        <activity
            android:name=".FallFestivalActivity"
            android:exported="false" />
        <activity
            android:name=".FestivalSeasonListActivity"
            android:exported="false" />
        <activity
            android:name=".FishSeasonListActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>